[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BHMSMAfMRI"]
	path = BHMSMAfMRI
	url = https://github.com/nilotpalsanyal/bhmsmafmri
	shallow = true
	registered = true
