[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BHMSMAfMRI"]
	path = BHMSMAfMRI
	url = https://github.com/nilotpalsanyal/bhmsmafmri
[submodule "GWASinlps"]
	path = GWASinlps
	url = https://github.com/nilotpalsanyal/gwasinlps
